boduy {
  background-color: white;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* my css code  */

.servicesBox {
  transition: 0.5s;
}
.servicesBox:hover {
  background-color: #f94d1c;
  color: white;
}
.servicesBox img {
  border: 0.5px solid white;
  border-radius: 50%;
}

.radial-progress.text-primary.text-3xl.font-semibold {
  transform: rotate(87deg);
}
span.hello {
  transform: rotate(-88deg);
}

.ServiceTitles {
  margin-top: 4px;
  margin-left: 5px;
}
.ServiceTitles2 {
  margin-top: 4px;
  margin-right: 5px;
}

/* body {
  max-width: 1620px;
  margin: 0 auto;
} */
svg.slick-arrow.slick-prev {
  background: white;
  color: #f94d1c;
  font-size: 50px !important;
  position: absolute;
  top: 78px;
  left: 90%;
  width: 35px;
  height: 35px;
}

svg.slick-arrow.slick-prev:hover {
  background: #f94d1c;
  color: white;
}
svg.slick-arrow.slick-next {
  background: #fff;
  color: #f94d1c;
  font-size: 50px !important;
  top: 78px;
  left: 95%;
  width: 35px;
  height: 35px;
}
svg.slick-arrow.slick-next:hover {
  background: #f94d1c;
  color: white;
}
.slick-slider {
  position: static !important;
}
.teamImg {
  border-radius: 100px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.htisIs {
  border-radius: 100px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.507), transparent);
  opacity: 0;
}

.htisIs {
  transition: 0.5s;
  overflow: hidden;
  transform: translate(-50px, 0);
  overflow: hidden;
}

.teamName {
  transform: translate(0, 50px);
}

.teamBox:hover .htisIs {
  opacity: 1 !important;
  transition: 0.5s;
  transform: translate(0, 0);
}
.teamBox:hover .teamName {
  opacity: 1 !important;
  transition: 0.5s;
  transform: translate(0, 0);
}
.teamBox {
  overflow: hidden;
}

/* progress bar */
.CircularProgressbar .CircularProgressbar-path {
  stroke: #f94d1c !important;
}
